.full-row {
  display: flex;
  width: 100%;             /* full page width */
    height: 100vh;          /* full page height */
 
  box-sizing: border-box;
}

/* Shared box styling */
.box {
   
  height: 1000px; /* full height of the row */
  display: flex; 
  align-items: center; 
  justify-content: center; 
  font-size: 1.5rem;
  font-weight: bold;
}

/* Specific widths */
.box-left {
  width: 60%;
  height: 900px;
  
}

.spacer {
  width: 15%;
}

.box-right {
  width: 25%;
  height: 400px; /* Adjusted height for right box */
}
